<div class="container">
    <div style="text-align: center;font-size: 30px;font-weight: 700;">
        Create Customer
    </div>
    <div style="margin-top: 20px; display: flex;align-items: center;justify-content: center;">
        <form [formGroup]="form" (submit)="createCustomer()">
            <div class="mb-3">
                <label for="title" class="form-label">Title <span style="color: red;">*</span></label>
                <div class="input-container form-group">
                  <!-- <img src="assets/email.svg" alt="Email Icon" class="svg-icon"> -->
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
                    id="title"
                    formControlName="title"
                    placeholder="Title"
                    required
                  />
                </div>
                <div *ngIf="submitted && f['title'].errors" class="invalid-data">
                  <div *ngIf="f['title'].errors['required']">Title is required</div>
                  <!-- <div *ngIf="f['email'].errors['pattern']">This value should be a valid email.</div> -->
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email <span style="color: red;">*</span></label>
                <div class="input-container form-group">
                  <!-- <img src="assets/email.svg" alt="Email Icon" class="svg-icon"> -->
                  <input
                    type="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                    id="email"
                    formControlName="email"
                    placeholder="Email"
                    required
                  />
                </div>
                <div *ngIf="submitted && f['email'].errors" class="invalid-data">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">This value should be a valid email.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="region" class="form-label">Region <span style="color: red;">*</span></label>
                <div class="input-container form-group">
                    <span style="width: 100%">
                      <p-dropdown formControlName="region" [options]="regionData" optionLabel="region" placeholder="Select a Region" [style]="{'minWidth':'100%'}" (onChange)="onChangeRegion($event)"></p-dropdown>
                    </span>
                </div>
                <div *ngIf="submitted && f['region'].errors" class="invalid-data">
                  <div *ngIf="f['region'].errors['required']">Region is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country <span style="color: red;">*</span></label>
                <div class="input-container form-group">
                    <span style="width: 100%">
                        <p-dropdown formControlName="country" [options]="countryData" optionLabel="country" placeholder="Select a Country" [style]="{'minWidth':'100%'}"></p-dropdown>
                      </span>
                </div>
                <div *ngIf="submitted && f['country'].errors" class="invalid-data">
                  <div *ngIf="f['country'].errors['required']">Country is required</div>
                </div>
            </div>
            <button type="submit" class="btn btn-height ctn-btn">Create Customer</button>
        </form>
    </div>
</div>