<div class="container p-0">
  <div style="display: flex;justify-content: right;margin: 20px;">
      <button class="btn" [ngClass]="{'selcted-btn': commonService.showCustomer}" (click)="btnClick(0)">Create Customer</button>
      <button class="btn" [ngClass]="{'selcted-btn': commonService.showPin}" style="margin-left: 30px;" (click)="btnClick(1)">Create Pin</button>
  </div>
  <!-- <div class="row flex-container">
      <div class="flex-item" *ngIf="showCustomer">
          <app-create-customer></app-create-customer>
      </div>
      <div class="flex-item" *ngIf="showPin">
          <app-create-pin></app-create-pin>
      </div>
  </div>
  <div style="margin-top:20px">
    <app-list></app-list>
  </div> -->

  <div class="row p-0 m-0">
    <div class="col-md-4 col-12">
      <ng-container *ngIf="commonService.showCustomer">
        <app-create-customer></app-create-customer>
      </ng-container>
      <ng-container *ngIf="commonService.showPin">
          <app-create-pin></app-create-pin>
      </ng-container>
    </div>
    <div class="col-md-8 col-12">
      <app-list></app-list>
    </div>
  </div>

</div>

<div id="loader" *ngIf="commonService.showLoader">
  <span>
      <span class="btn-loading"></span>
  </span>
</div>